@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 38 38 38;
        --color-primary-darker: 24 24 27;
        --color-primary-lighter: 64 64 64;
        --color-secondary: 94 234 212;
    }

    html {
        @apply text-neutral-300;
        @apply bg-neutral-800;
    }

    dialog {
        @apply text-neutral-300;
        @apply bg-transparent;
    }

    dialog::backdrop {
        @apply bg-gray-500;
        @apply backdrop-filter;
        @apply backdrop-blur-sm;
        @apply bg-opacity-5;
    }

    .min-h-full-dvh {
        @apply min-h-[100dvh];
    }
}
