@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-neutral-300;
        @apply bg-neutral-800;
    }

    dialog {
        @apply text-neutral-300;
        @apply bg-transparent;
    }

    .min-h-full-dvh {
        @apply min-h-[100dvh];
    }
}

body {
    background: linear-gradient(135deg, #1c1e20 10%, #1e1f20 100%);
}

/* body {
  background: linear-gradient(135deg, #ff9a9e 10%, #f6416c 100%);
} */
/* body::before,
body::after {
  content: '';
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
body::before {
  clip-path: circle(30% at left 20%);
  background: linear-gradient(135deg, #f6416c 10%, #ff9a9e 100%);
}
body::after {
  clip-path: circle(25% at right 80%);
  background: linear-gradient(135deg, #f6416c 10%, #ff9a9e 100%);
} */
